
* {
  margin: 0;
  font-size: 10px;
}

.app {
  display: flex;
  justify-content: space-around;
  margin: 10px
  

}

.section1 {
  background-color: rgba(29, 204, 204, 0.534);
  width: 25%;
  margin: 5px
}

div {
  margin-top: 20px
}